.Rproj.user
.Rhistory
.RData
.Ruserdata
man/russett.Rd
man/satisfaction.Rd
man/simdata.Rd
man/spainfoot.Rd
man/technology.Rd
man/wines.Rd
man/technology.Rd
man/spainfoot.Rd
man/simdata.Rd
man/satisfaction.Rd
man/russett.Rd
man/orange.Rd
man/offense.Rd
man/mobile.Rd
man/futbol.Rd
man/college.Rd
man/cereals.Rd
man/arizona.Rd
